<% if TrialNumber.first.present? %>
Provisioned numbers:
  <ul>
  <% TrialNumber.find_each do |trial_number| %>
    <li>Calls made to <%= trial_number.mask_number %> will forward to <%= trial_number.forward_to_number %> <%= link_to 'Release this number', release_number_url(trial_id: trial_number.id), method: 'delete' %></li>
  <% end %>
  </ul>
<% end %>
<% if TrialNumber.first.present? %>
  This is a demo and we can only register one number. You need to release the number above before creating a new one.
<% else %>
  <%= form_with(url: "/provision_number", method: "post") do %>
    <%= label_tag(:forward_to, "Number to forward calls to format as follows: +15865551212") %>
    <br>
    <%= text_field_tag(:forward_to, nil, placeholder: "+15865551212") %>
    <%= submit_tag("Create new phone number") %>
  <% end %>
<% end %>